.nav1-wrapper{
    grid-area: n;
    background: darkolivegreen;
}
.item a:focus{

}
.item a {
    color: white;
}
.active-link{
    color: gold;
}
.active{
    color: blue;
}
img.profile{
    alt:"Какое-то изображение профиля уменьшенное скорее всего";
}