.messages{
    padding: 10px;
}
.message{

}
input.newMessageInput{

}
.messages .message{
    color: white;
}
.dialogs{
    display: grid;
    grid-template-columns: 2fr 10fr;
}
.dialogs-items{
    color: white;
    padding: 10px;
}
.dialogs NavLink{
    color: greenyellow;
}
.active{
    color: gold;
}